# Data Cleaning

In deze notebook gaan we werken met een dataset die de gebeurtenissen tijdens een reeks wedstrijden over een periode van 4 jaar.
De link naar deze dataset is: https://www.kaggle.com/secareanualin/football-events.
Met deze kan je reeds heel wat informatie vinden over wat er in deze dataset zit. 
In de dataset zitten er drie files:
* events.csv Bevat data over de gebeurtenissen van elke wedstrijd.
* ginf.csv - Bevat metadata en win-kansen van elke wedstrijd.
* dictionary.txt Bevat een tekstuele weergave van de verschillende categorieen

Hieronder staan alle imports die gebruikt worden in de loop van de notebook.

In [1]:
# loading of the dataset
import pandas as pd
import numpy as np

## Inladen dataset

De eerste stap is om de dataset te downloaden vanuit kaggle met de kagglehub library.
Laad daarna de twee csv bestanden (events.csv en ginf.csv) in als een pandas dataframe.
De code voor deze stappen is:

In [2]:
import kagglehub
import pandas as pd

# Load the latest version
path = kagglehub.dataset_download("secareanualin/football-events")
df_events = pd.read_csv(f"{path}/events.csv")
df_ginf = pd.read_csv(f"{path}/ginf.csv")
df_ginf.set_index("id_odsp", inplace=True)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).
Downloading from https://www.kaggle.com/api/v1/datasets/download/secareanualin/football-events?dataset_version_number=1...

100%|██████████| 21.1M/21.1M [00:01<00:00, 19.7MB/s]

Extracting files...

## Exploratory Data Analysis

De read_csv functie heeft een dataframe aangemaakt en alle data van de csv ingeladen in dit object.
Pandas voorziet daarnaast een aantal eenvoudige methodes om heel wat informatie uit de dataset op te halen.
Een overzicht van alle functies die mogelijk zijn met dataframes vind je hier: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html.
We kunnen bijvoorbeeld eenvoudig het aantal rijen gaan opvragen maar ook een aantal rijen gaan bekijken. 
Dit kan bijvoorbeeld met de volgende code:

In [9]:
df_events.sample(10) # selecteer 10 willekeurige rijen
df_events.sample(frac=0.01) # geef me 1% van de rijen
#df_events.info()
df_events.describe() # toon een aantal statistieken getoond voor numerieke kolommen
df_events.bodypart.unique() # unieke waarden in een kolom
df_events.bodypart.nunique() # aantal unieke 
df_events.bodypart # 1 kolom van een dataframe noemt een series

0         2.0
1         NaN
2         NaN
3         NaN
4         NaN
         ...
941004    NaN
941005    NaN
941006    1.0
941007    NaN
941008    NaN
Name: bodypart, Length: 941009, dtype: float64

Probeer nu zelf de volgende zaken op te zoeken:
* Haal willekeurig 2 rijen uit de dataset
* Alle spelers die betrokken zijn geweest bij een event (geen duplicaten)
* Hoeveel goalen zijn er gemaakt in de geregistreerde events? Dit kan aan de hand van de is_goal kolom.
* Bestudeer de inhoud van het ginf dataset, besteed vooral aandacht aan de ontbrekende data
* Voeg aan het ginf dataframe twee kolommen toe, 1 voor het aantal events van de thuisploeg en 1 voor het aantal events van de andere ploeg.

In [ ]:
# count number of events by making groups per match id and side

# create dataframe containing the home event

# create dataframe containing the away events

## Data Cleaning

### Ontbrekende data

In eerste instantie zijn er de volgende mogelijkheden om om te gaan met ontbrekende data (Null or Nan values)
* Negeren
* Verwijder rijen met null waarden
* Verwijder kolommen met null waarden
* Kies een waarde om de NaN waarden in te vullen
* Gebruik duplicaten om de waarde in te vullen

Je kan gebruik maken van de volgende functies:
* isna or notna om aan te geven welke elementen ontbrekende of ingevulde data bevatten 
* dropna drop columns or rows containing missing values  (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)
* fillna fill in missing values https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html#pandas.DataFrame.fillna

Deze functies hebben de volgende resultaten

In [15]:
df_events_copy = df_events.copy() # maak een kopie om geen fouten te hebben door reeds ingevulde data
df_events_copy.info()
df_events_copy.isna().sum()

display(df_events_copy.shape)
display(df_events_copy.dropna().shape) # drop alle rijen waar minstens 1 null-waarde aanwezig is
display(df_events_copy.dropna(axis=1).shape) # in heel veel functies kan je een axis-parameter toevoegen
# die axis bepaalt in welke richting de functie uitgevoerd wordt (typisch is 0 rijen en 1 kolommen)

display(df_events_copy.fillna(-1)) # invullen van null-waarden

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941009 entries, 0 to 941008
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id_odsp        941009 non-null  object
 1   id_event       941009 non-null  object
 2   sort_order     941009 non-null  int64
 3   time           941009 non-null  int64
 4   text           941009 non-null  object
 5   event_type     941009 non-null  int64
 6   event_type2    214293 non-null  float64
 7   side           941009 non-null  int64
 8   event_team     941009 non-null  object
 9   opponent       941009 non-null  object
 10  player         880009 non-null  object
 11  player2        291310 non-null  object
 12  player_in      51715 non-null   object
 13  player_out     51738 non-null   object
 14  shot_place     227459 non-null  float64
 15  shot_outcome   228498 non-null  float64
 16  is_goal        941009 non-null  int64
 17  location       467067 non-null  float64
 18  bodypart       229185 non-null  float64
 19  assist_method  941009 non-null  int64
 20  situation      229137 non-null  float64
 21  fast_break     941009 non-null  int64
dtypes: float64(6), int64(7), object(9)
memory usage: 157.9+ MB

(941009, 22)

(0, 22)

(941009, 12)

,id_odsp,id_event,sort_order,time,text,event_type,event_type2,side,event_team,opponent,...,player_in,player_out,shot_place,shot_outcome,is_goal,location,bodypart,assist_method,situation,fast_break
0,UFot0hit/,UFot0hit1,1,2,Attempt missed. Mladen Petric (Hamburg) left f...,1,12.0,2,Hamburg SV,Borussia Dortmund,...,-1,-1,6.0,2.0,0,9.0,2.0,1,1.0,0
1,UFot0hit/,UFot0hit2,2,4,"Corner, Borussia Dortmund. Conceded by Dennis...",2,-1.0,1,Borussia Dortmund,Hamburg SV,...,-1,-1,-1.0,-1.0,0,-1.0,-1.0,0,-1.0,0
2,UFot0hit/,UFot0hit3,3,4,"Corner, Borussia Dortmund. Conceded by Heiko ...",2,-1.0,1,Borussia Dortmund,Hamburg SV,...,-1,-1,-1.0,-1.0,0,-1.0,-1.0,0,-1.0,0
3,UFot0hit/,UFot0hit4,4,7,Foul by Sven Bender (Borussia Dortmund).,3,-1.0,1,Borussia Dortmund,Hamburg SV,...,-1,-1,-1.0,-1.0,0,-1.0,-1.0,0,-1.0,0
4,UFot0hit/,UFot0hit5,5,7,Gokhan Tore (Hamburg) wins a free kick in the ...,8,-1.0,2,Hamburg SV,Borussia Dortmund,...,-1,-1,-1.0,-1.0,0,2.0,-1.0,0,-1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941004,z5L2OT5E/,z5L2OT5E123,123,92,Lucas Torreira (Sampdoria) wins a free kick in...,8,-1.0,2,Sampdoria,Atalanta,...,-1,-1,-1.0,-1.0,0,2.0,-1.0,0,-1.0,0
941005,z5L2OT5E/,z5L2OT5E124,124,93,"Corner, Sampdoria. Conceded by Andrea Masiello.",2,-1.0,2,Sampdoria,Atalanta,...,-1,-1,-1.0,-1.0,0,-1.0,-1.0,0,-1.0,0
941006,z5L2OT5E/,z5L2OT5E125,125,93,Attempt missed. Fabio Quagliarella (Sampdoria)...,1,12.0,2,Sampdoria,Atalanta,...,-1,-1,8.0,2.0,0,9.0,1.0,1,3.0,0
941007,z5L2OT5E/,z5L2OT5E126,126,94,Alberto Grassi (Atalanta) wins a free kick on ...,8,-1.0,1,Atalanta,Sampdoria,...,-1,-1,-1.0,-1.0,0,4.0,-1.0,0,-1.0,0
941008,z5L2OT5E/,z5L2OT5E127,127,94,Foul by Pedro Pereira (Sampdoria).,3,-1.0,2,Sampdoria,Atalanta,...,-1,-1,-1.0,-1.0,0,-1.0,-1.0,0,-1.0,0

We zien dat de manier waarop we dropna uitvoeren een grote impact kan hebben op het resultaat.
In de eerste situatie bekomen we een lege dataset. Dit komt omdat er op elke rij minstens 1 kolom is die een Nan value bevat.

In het tweede voorbeeld, worden alle kolommen verwijderd die minstens 1 Nan value bevat. Op deze manier hebben we nog evenveel elementen maar het aantal kolommen is sterk gereduceerd. Door dit zonder controle te gebruiken kan veel nuttige informatie verwijderd worden. Merk op dat de 4 kolommen met de speler informatie verwijderd zijn. En ook de kolommen die meer informatie bevatten over het type event.

Het merendeel van de verwijderde kolommen bevatten dus nuttige informatie en willen we daarom niet verwijderen.
Om deze reden hebben we een meer manuele aanpak nodig.
De kolommen met informatie over het event (bvb shot_place) zijn nodig en mogen dus blijven staan. 
Nan geeft dan enkel weer dat de waarde niet van toepassing is.
De 4 kolommen met speler informatie kan echter gereduceerd worden tot twee kolommen (1 voor elk team) waarbij player2 niet altijd ingevuld moet zijn.
Dit kan bewezen worden als volgt:

In [20]:
nans = df_events_copy.isnull() # is ongeveer analoog aan isna()

print(sum(nans['player'])) # twee manieren om kolommen te selecteren
print(sum(nans.player_in))
print(sum(nans.player) + sum(nans.player_in))

print(sum(nans.player ^ nans.player_in)) # exact 1 ingevuld (xor)
print(sum(nans.player & nans.player_in)) # and
print(sum(nans.player | nans.player_in)) # of
print(sum(~nans.player & ~nans.player_in)) # niet met ~

61000
889294
950294
931724
9285
941009
0

Met bovenstaande resultaten zien we dat in bijna alle gevallen player ofwel player_in ingevuld is maar nooit allebei.
Dit houdt in dat we deze twee kolommen eenvoudig kunnen samenvoegen. 
Hetzelfde geldt voor de kolommen player2 en player_out.
Nog een belangrijke opmerking is dat er een aantal rijen zijn waar er geen informatie over spelers aanwezig is.
Deze rijen kunnen verwijderd worden.

Overbodige kolommen:
* text
* id_event (samenstelling van id_odsp en sort_order)

Dit doen we hier:

In [26]:
df_events_copy_reduced = df_events_copy[nans.player ^ nans.player_in]

# de trage manier om de player en player_in kolom samen te voegen
# functie in python is veel trager
def get_player_info(row):
    if row.isnull().player:
        return row.player_in
    else:
        return row.player
        
display(df_events_copy_reduced.apply(get_player_info, axis=1))

0               mladen petric
1            dennis diekmeier
2            heiko westermann
3                 sven bender
4                 gokhan tore
                 ...
941003    leonardo spinazzola
941004         lucas torreira
941006     fabio quagliarella
941007         alberto grassi
941008          pedro pereira
Length: 931724, dtype: object

In [25]:
# snellere manier door gebruik te maken van pandas functionaliteiten
nans_player = df_events_copy_reduced.isnull().player
df_events_copy_reduced.loc[nans_player, 'player'] = df_events_copy_reduced.loc[nans_player, 'player_in']

Oefening: Zijn er na het mergen van deze twee kolommen nog gevallen waar player null is maar player2 niet? In het geval dat er nog zo rijen zijn, verplaats de waarde van de player2 kolom naar de player kolom (enkel voor deze rijen). Nadat dit gedaan is hebben we zoveel mogelijk gedaan en kunnen we de overige rijen waarvoor de player feature null is laten vallen.

### One hot encoding

In deze dataset wordt er vaak een enum gebruikt om een categorie aan te duiden. 
Dit is een compacte manier om een enum in een dataset op te slaan maar dit geeft vaak problemen bij het opbouwen van modellen.
Dit gaan we in meer detail bekijken bij classificatie/clustering.

Om dit op te lossen kunnen gebruik maken van one-hot encoding.
In pandas kan dat door gebruik te maken van de functie pd.get_dummies()

In [27]:
# get_dummies in pandas voor one-hot encoding
one_hot_encoded = pd.get_dummies(df_events_copy_reduced.event_type, prefix="event_type")
df_events_copy_reduced.join(pd.get_dummies(df_events_copy_reduced.event_type, prefix="event_type"))

# OF
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
display(encoder.fit_transform(df_events_copy_reduced.event_type.values.reshape(-1, 1)))

# ordinal encoding / label encoder (Ordinal encoder voor meerdere kolommen tegelijkertijd om te zetten,
# label encoder voor 1 kolom (de outputs vaak))
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
encoder.fit_transform(df_events_copy_reduced.event_team.values.reshape(-1, 1))

#OF

from sklearn.preprocessing import LabelEncoder # verschil is dat label bedoelt is voor 1 kolom en ordinal encoder voor meerdere
encoder = LabelEncoder()
encoder.fit_transform(df_events_copy_reduced.event_team)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 931724 stored elements and shape (931724, 10)>

array([ 58,  20,  20, ..., 110,  11, 110], shape=(931724,))

### Data Format Correcting

Buiten het verwijderen of toevoegen van kolommen kan het ook belangrijk zijn om de waarden van individuele elementen te corrigeren/aan te passen. 
Dit kan een heel aantal zaken omvatten zoals het corrigeren van typo's, omzetten van datatypes, etc.
Laten we eerst eens de One-Hot Encoded values omzetten van 0/1 naar true/false.

In [29]:
one_hot_encoded.astype('int') # as type kan je switchen van datatype

,event_type_1,event_type_2,event_type_3,event_type_4,event_type_5,event_type_6,event_type_7,event_type_8,event_type_9,event_type_10
0,1,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
941003,0,0,1,0,0,0,0,0,0,0
941004,0,0,0,0,0,0,0,1,0,0
941006,1,0,0,0,0,0,0,0,0,0
941007,0,0,0,0,0,0,0,1,0,0
941008,0,0,1,0,0,0,0,0,0,0

Daarnaast moeten er ook vaak woorden in tekstuele velden gecorrigeerd of vertaald worden. 
Om hiervan een voorbeeld te geven ga ik in de player en player2 kolommen de naam van "Romelu Lukaku" hernoemen naar "Big Rom".
De volgende code voert dit uit door gebruik te maken van de [replace](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html) functie:

In [32]:
df_events_copy_reduced.replace(to_replace='Hamburg SV', value='VERVANGEN')

,id_odsp,id_event,sort_order,time,text,event_type,event_type2,side,event_team,opponent,...,player_in,player_out,shot_place,shot_outcome,is_goal,location,bodypart,assist_method,situation,fast_break
0,UFot0hit/,UFot0hit1,1,2,Attempt missed. Mladen Petric (Hamburg) left f...,1,12.0,2,VERVANGEN,Borussia Dortmund,...,NaN,NaN,6.0,2.0,0,9.0,2.0,1,1.0,0
1,UFot0hit/,UFot0hit2,2,4,"Corner, Borussia Dortmund. Conceded by Dennis...",2,NaN,1,Borussia Dortmund,VERVANGEN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,0
2,UFot0hit/,UFot0hit3,3,4,"Corner, Borussia Dortmund. Conceded by Heiko ...",2,NaN,1,Borussia Dortmund,VERVANGEN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,0
3,UFot0hit/,UFot0hit4,4,7,Foul by Sven Bender (Borussia Dortmund).,3,NaN,1,Borussia Dortmund,VERVANGEN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,0
4,UFot0hit/,UFot0hit5,5,7,Gokhan Tore (Hamburg) wins a free kick in the ...,8,NaN,2,VERVANGEN,Borussia Dortmund,...,NaN,NaN,NaN,NaN,0,2.0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941003,z5L2OT5E/,z5L2OT5E122,122,92,Foul by Leonardo Spinazzola (Atalanta).,3,NaN,1,Atalanta,Sampdoria,...,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,0
941004,z5L2OT5E/,z5L2OT5E123,123,92,Lucas Torreira (Sampdoria) wins a free kick in...,8,NaN,2,Sampdoria,Atalanta,...,NaN,NaN,NaN,NaN,0,2.0,NaN,0,NaN,0
941006,z5L2OT5E/,z5L2OT5E125,125,93,Attempt missed. Fabio Quagliarella (Sampdoria)...,1,12.0,2,Sampdoria,Atalanta,...,NaN,NaN,8.0,2.0,0,9.0,1.0,1,3.0,0
941007,z5L2OT5E/,z5L2OT5E126,126,94,Alberto Grassi (Atalanta) wins a free kick on ...,8,NaN,1,Atalanta,Sampdoria,...,NaN,NaN,NaN,NaN,0,4.0,NaN,0,NaN,0
941008,z5L2OT5E/,z5L2OT5E127,127,94,Foul by Pedro Pereira (Sampdoria).,3,NaN,2,Sampdoria,Atalanta,...,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,0

Een andere grote bron van data formaten dat aangepast moet worden komt voort uit kolommen die datums bevatten. Deze worden standaard ingelezen als een tekst veldje dus moet je deze zelf gaan omzetten. Dit kan je zien in de ginf dataset waar de "date" kolom van het type object is. Dit is in numpy de indicatie dat het een tekstveld is.

In de dataframe zien we dat de datums erin staan als "%Y-%m-%d" (jaar als 4 cijfers, rest als twee). 
Voor de notatie van andere dataformaten vind je [hier](http://strftime.org/) meer informatie.
Met behulp van de [to_datetime](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html) functie kan je deze kolom omzetten naar datums.
Zoek na deze omzetting eens het datatype op van deze kolom.
Je ziet dat het nu geen object meer is maar een correcte datum.

Merk op dat deze manier van aanpakken enkel werkt wanneer de hele tabel hetzelfde dataformaat heeft.
Indien er meerdere dataformaten gebruikt zijn (bijvoorbeeld door manuele input), dan kan je het nog steeds doen maar dan moet panda een inschatting maken van het gewenste formaat. Dit kan door het argument "infer_datetime_format=True".
Hoewel dit mogelijk is zijn er twee redenen waarom we dit niet altijd gebruiken, namelijk
* Het duurt veel langer om de tabel om te zetten.
* Het gaat niet altijd het correcte resultaat geven bij speciale formaten

Eenmaal de kolom van het type datetime is kan je heel gemakkelijk deze kolommen vergelijken en er zaken gaan uithalen zoals de maand waarin de wedstrijd plaatsvond.

In [35]:
df_ginf.info() # de date kolom heeft dtype object, dit is zoals tekst

df_ginf.date = pd.to_datetime(df_ginf.date, format="%Y-%m-%d")
df_ginf.info()

df_ginf.date.dt.month

<class 'pandas.core.frame.DataFrame'>
Index: 10112 entries, UFot0hit/ to z5L2OT5E/
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   link_odsp  10112 non-null  object
 1   adv_stats  10112 non-null  bool
 2   date       10112 non-null  datetime64[ns]
 3   league     10112 non-null  object
 4   season     10112 non-null  int64
 5   country    10112 non-null  object
 6   ht         10112 non-null  object
 7   at         10112 non-null  object
 8   fthg       10112 non-null  int64
 9   ftag       10112 non-null  int64
 10  odd_h      10112 non-null  float64
 11  odd_d      10112 non-null  float64
 12  odd_a      10112 non-null  float64
 13  odd_over   977 non-null    float64
 14  odd_under  977 non-null    float64
 15  odd_bts    977 non-null    float64
 16  odd_bts_n  977 non-null    float64
dtypes: bool(1), datetime64[ns](1), float64(7), int64(3), object(5)
memory usage: 1.3+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 10112 entries, UFot0hit/ to z5L2OT5E/
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   link_odsp  10112 non-null  object
 1   adv_stats  10112 non-null  bool
 2   date       10112 non-null  datetime64[ns]
 3   league     10112 non-null  object
 4   season     10112 non-null  int64
 5   country    10112 non-null  object
 6   ht         10112 non-null  object
 7   at         10112 non-null  object
 8   fthg       10112 non-null  int64
 9   ftag       10112 non-null  int64
 10  odd_h      10112 non-null  float64
 11  odd_d      10112 non-null  float64
 12  odd_a      10112 non-null  float64
 13  odd_over   977 non-null    float64
 14  odd_under  977 non-null    float64
 15  odd_bts    977 non-null    float64
 16  odd_bts_n  977 non-null    float64
dtypes: bool(1), datetime64[ns](1), float64(7), int64(3), object(5)
memory usage: 1.3+ MB

id_odsp
UFot0hit/    8
Aw5DflLH/    8
bkjpaC6n/    8
CzPV312a/    8
GUOdmtII/    8
            ..
xAkY8l6R/    1
xSU9scI9/    1
xY7uZwOI/    1
YyeGxMX8/    1
z5L2OT5E/    1
Name: date, Length: 10112, dtype: int32

### Data shuffling

Een mogelijke manier om de privacy van je klanten te beschermen die we aangehaald hebben is data shuffling.
Bij deze methode is het de bedoeling dat je de namen in een dataset op een willekeurige manier door elkaar haalt.
Dit kan gedaan worden door gebruik te maken van de permutation methode van numpy  (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html) op de volgende manier:

In [ ]:
# idee van shufflen is -> gooi de waarden van 1 kolom door elkaar zodat er geen match meer is tussen pii en de data
df_ginf.country = df_ginf.country.sample(frac=1) # alle rijen in willekeurige volgorde
# overschrijf de kolom met de waarden in willekeurige volgrode

## Oefeningen

Om meer vertrouwd te worden met het werken met pandas kan je de volgende zaken zelf proberen.

Bewerkingen op de events.csv dataset:
* Controleer de kolommen "id_event", "id_odsp" en "sort_order". Is er 1 van deze drie overbodig? Verwijder de kolom indien dit zo is.
* Hernoem "Hamburg SV" naar "Hamburg FC". Let op, doe dit voor alle kolommen waar het kan staan.

Bewerkingen op de ginf.csv dataset:
* Maak One Hot Encoding voor de kolom "Country"
* Voeg een kolom toe die drie waarden kan hebben: Home team wins, Home team loses, draw
* Maak nu ook een One Hot Encoding voor deze nieuwe kolom
* Drop de kolom met de urls voor de ploegen
* Bewaar je aangepaste dataset in "wedstrijden.csv" (Gebruik de functie to_save: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)

## Oefening 2

Gebruik de dataset die je kan vinden op [deze link](https://gist.githubusercontent.com/deanjamesss/f8f5781fb682fb728e9674dda9813982/raw/801df9e7b9af894af1f69ba1a40af909160891aa/employee_data.csv).
Deze dataset bevat informatie over de personeelslijst van een bedrijf.
Voer de volgende stappen/oefeningen/bewerkingen uit:
* Bekijk de datatypes van de verschillende kolommen. Is alles zoals je verwacht?
* Bereken het aantal nulwaarden per kolom.
* Verwijder de kolom met de gegevens over het belastingsnummer. Verliezen we hiermee data?
* Verwijder alle rijen die meer dan 2 ontbrekende gegevens bevatten. Hoeveel rijen blijven er over?
* Geef een dataframe met de lijsten verwijderd in de vorige stap.
* Vul in de kolommen voor het geslacht en employment_status ontbrekende waarden in met een U van unknown.
* Om de geslacht kolom leesbaarder te maken, vervang M door male, F door female en U door unknown.
* Voeg een one-hot encoding voor de kolom van de employment_status toe. Verwijder ook de originele kolom.
* Bewaar het bewerkte csv in een bestand